body,
html {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
}

div {
	border: 2px red solid;
	/* margin: 20px; */
}

.dropdown-container {
	display: none;
}

.menu {
	margin: 0;
}

.close-dd {
	position: absolute;
	top: 15px;
	right: 15px;
}

@media only screen and (max-width: 700px) {
	.dropdown-container {
		position: absolute;
		top: 0px;
		width: 100%;
		height: 100%;
		background-color: lightblue;
		z-index: 1;
	}
}
